<div class="container">
  <div class="section">
    <div class="heading">
      <h5>Section One</h5>
    </div>

    <p class="paragraph"> Lorem ipsum dolor sit amet <br>
      consecteture adipisng elit, sed,do <br>
      eiusmod tempor incididunt ut labore <br>
      et dolore magna aliqua
    </p>
    <a href="#" class="btn btn-primary">Button one</a>
  </div>
  <div class="section">
    <div class="heading">
      <h5>Section Two</h5>
    </div>

    <p class="paragraph"> Lorem ipsum dolor sit amet <br>
      consecteture adipisng elit, sed,do <br>
      eiusmod tempor incididunt ut labore <br>
      et dolore magna aliqua
    </p>
    <a href="#" class="btn btn-primary">Button Two</a>
  </div>
  <div class="section">
    <div class="heading">
      <h5>Section Three</h5>
    </div>

    <p class="paragraph"> Lorem ipsum dolor sit amet <br>
      consecteture adipisng elit, sed,do <br>
      eiusmod tempor incididunt ut labore <br>
      et dolore magna aliqua
    </p>
    <a href="#" class="btn btn-primary">Button Three</a>
  </div>
  <div class="section">
    <div class="heading">
      <h5>Section Four</h5>
    </div>

    <p class="paragraph"> Lorem ipsum dolor sit amet  <br>
      consecteture adipisng elit, sed,do <br>
      eiusmod tempor incididunt ut labore <br>
      et dolore magna aliqua
    </p>
    <a href="#" class="btn btn-primary">Button Four</a>
  </div>
</div>
